 .wy-nav-content-wrap{Background:none!important;}
 .rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #000000;
}
hr.docutils {
    background-color: #000;
    border: 0 none;
    color: #000;
    height: 2px;
}
.fa-github {
 display: none !important;
}
.wy-side-nav-search input[type=text]{
	height: 40px;
	border: none!important;
	border-radius: 0!important;
}
.wy-side-nav-search{
	background: none!important;
}
.icon-home{
	display: none!important;
}
.wy-side-nav-search > div.version{
	display: none!important;
}
.wy-nav-side {
	background: #233240!important;
}


